@model AvailableGroups.Models.GroupPageModel
@{
    ViewData["Title"] = "Available Group List";
}

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr class="d-flex">
                <th class="col-6">Name</th>
                <th class="col-6">LogoUrl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.List)
            {
                <tr class="d-flex">
                    <td class="col-6" >
                        <div class="d-flex w-100 h-100 align-items-center">@group.Name.Trim()  &nbsp;</div>
                    </td>
                    <td class="col-6 align-self-center">
                        <img  src="@((String.IsNullOrEmpty(@group.LogoUrl) || String.IsNullOrEmpty(@group.LogoNameExtension)) ?
                                      GroupModel.NoLogoImageUrl:
                                      Url.Action("GetGroupImageFile", "Home", new { logoUrl = group.LogoUrl, logoExtension = group.LogoNameExtension })
                                      )" 
                                alter="@($"{group.Name.Trim()} Logo")"
                                height="55" />                       
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" 
                       asp-controller="Home" 
                       asp-action="GroupList" 
                       asp-route-page="@Model.PrePage" 
                       asp-route-pagesize="@Model.PageSize" 
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">@($"Page: {Model.Page}/{Model.TotalPages}")</a> 
                </li>
                <li class="page-item">
                    <a class="page-link" 
                       asp-controller="Home" 
                       asp-action="GroupList" 
                       asp-route-page="@Model.NextPage" 
                       asp-route-pagesize="@Model.PageSize" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


